<%= link_to 'New Movie', new_movie_path, class: 'btn btn-primary btn-lg btn-block' %><br><br>

<% movies = Movie.all %>
<div class="row" style="vertical-align: center">
  <% movies.each do |movie| %>
    <div style="padding-right: 15px; padding-bottom: 15px">
      <div class="card" style="width:365px">
        <%= image_tag movie.image.url(:medium), alt: 'Card image', width: '100%', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title"><b><%= movie.title %></b></h4>
          <p class="card-text"><%= movie.description %></p>
          <div align="center">
            <a href="<%= movie.imdb_link %>">
              <%= image_tag('imdb.png', width: '100px') %>
            </a>
            <a href="<%= movie.rt_link %>">
              <%= image_tag('rotten_tomatoes.png', width: '100px') %>
            </a>
          </div>
          <br>
          <h5><b>Comments</b></h5>
          <% if movie.comments.count == 0 %>
            <p style="font-size: small">No comments</p>
          <% end %>
          <% movie.comments.each do |comment| %>
            <p style="font-size: medium"><b><%= comment.user.name %></b> says:</p>
            <p style="font-size: small" align="center"><i><%= comment.content %></i></p>
            <% if current_user == comment.user %>
              <%= link_to 'Destroy', comment, class: 'btn btn-link btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <%= link_to 'New Comment', new_comment_path(movie: movie.id) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
