<%= link_to 'New Movie', new_movie_path, class: 'btn btn-primary btn-lg btn-block' %><br><br>

<% movies = Movie.all %>
<div class="card-columns">
  <% movies.each do |movie| %>
    <div>
      <div class="card">
        <%= image_tag movie.image.url(:medium), alt: 'Card image', width: '100%', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title"><b><%= movie.title %></b></h4>
          <p class="card-text"><%= movie.description %></p>
          <div class="row" align="center">
            <div class="col" align="center">
              <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-default">
                  <%= image_tag('imdb.png', class: 'img-fluid') %>
                </button>
                <button type="button" class="btn btn-default">
                  <%= image_tag('rotten_tomatoes.png', class: 'img-fluid') %>
                </button>
              </div>
            </div>
          </div>
          <br>
          <h5><b>Comments</b></h5>
          <% if movie.comments.count == 0 %>
            <p style="font-size: small">No comments</p>
          <% end %>
          <div id="card_<%= movie.id %>" style="max-height: 400px; overflow-y: auto;">
            <% movie.comments.each do |comment| %>
              <div id="<%= movie.id %>_<%= comment.id %>" style="border-bottom: 1px dotted; padding-top: 20px">
                <p style="font-size: medium"><b><%= comment.user.name %></b> says:</p>
                <p style="font-size: small" align="center"><i><%= comment.content %></i></p>
                <% if current_user == comment.user %>
                  <button class="btn btn-link btn-sm" onclick="delete_comment(<%= movie.id %>, <%= comment.id %>)">Delete</button><br>
                <% end %>
              </div>
              <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="col-lg-12" align="center">
              <div class="row">
                <div class="col-xs-11" style="margin-right: 23px">
                  <input id="written_comment_<%= movie.id %>" class="form-control comment_input">
                </div>
                <div class="col-xs-1">
                  <button name="send_button" onclick="add_comment(<%= movie.id %>, <%= current_user.id %>, '<%= current_user.name %>')" value="" class="btn btn-primary btn-block">Send</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
